.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.circle {
    position: relative;
}

.progress-ring-circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.35s;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #007bff; /* Color del texto en azul */
}

.progress-ring-circle-2 {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.35s;
    stroke: #f2f2f2;
}