{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Planificación de Ceremonias</title>
</head>

<body>
    {% include 'layouts/sidebar1.html' %}
    {% block content %}
    <div class="main container mt-5"
        style="margin-left: 70px; background-color: #f0f0f0; border-radius: 10px; padding: 20px;">
        <h1 class="text-center">Planificación de Ceremonias</h1>
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <h2>{{ ceremony.title }}</h2>
                    <p><strong>Fecha de Inicio:</strong> {{ ceremony.start_date }}</p>
                    <p><strong>Fecha de Fin:</strong> {{ ceremony.end_date }}</p>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#cambiarFechasModal">Cambiar Fechas</button>
                </div>
            </div>
            
            <hr>
            <h3>Actividades de la Ceremonia:</h3>
            <ul class="list-group">
                {% for activity in ceremony_activities %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ activity.title }}
                    {% if activity.completed %}
                    <span class="badge bg-success">Finalizada</span>
                    {% else %}
                    <form method="post" action="{% url 'finish_activity' activity.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success btn-sm">Finalizar</button>
                    </form>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <hr>            
            
            <h3>Agregar Nueva Actividad:</h3>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_title">Título:</label>
                    {{ form.title }}
                </div>
                <button type="submit" class="btn btn-primary">Agregar Actividad</button>
            </form>
            
            

            <hr>
            <form method="post" action="{% url 'reset_ceremony' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Reiniciar Ceremonia</button>
            </form>
        </div>
    </div>


    <div class="modal fade" id="cambiarFechasModal" tabindex="-1" aria-labelledby="cambiarFechasModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cambiarFechasModalLabel">Cambiar Fechas de la Ceremonia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="fecha_inicio" class="form-label">Fecha de Inicio:</label>
                            <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio"
                                value="{{ ceremony.start_date }}">
                        </div>
                        <div class="mb-3">
                            <label for="fecha_fin" class="form-label">Fecha de Fin:</label>
                            <input type="date" class="form-control" id="fecha_fin" name="fecha_fin"
                                value="{{ ceremony.end_date }}">
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
</body>

</html>
