{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/barra_de_proceso.css' %}">
    <script src="{% static 'js/scriptBarraProgreso.js' %}"></script>

    <title>Lista de eventos</title>
</head>

<body>
    {% include 'layouts/sidebar2.html' %}
    {% block content %}
    <div class="main container mt-5"
        style="margin-left: 70px; background-color: #93b8f0; border-radius: 10px; padding: 20px;">
        <h1 class="text-center">Lista de Eventos</h1>
        <form method="GET">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Buscar por ID, Título o Presupuesto">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                    <select name="filter_by" class="form-control">
                    <option value="id">ID</option>
                    <option value="titulo">Título</option>
                    <option value="presupuesto">Presupuesto</option>
                </select>
              </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Lugar</th>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Fin</th>
                        <th>Presupuesto</th>
                        <th>Alimentación</th>
                        <th>Transporte</th>
                        <th>Profesor</th>
                        <th>Extra</th>
                        <th>Acciones</th>
                        <th>Progreso</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in eventos %}
                <tr>
                    <form method="post" action="{% url 'guardar_evento' %}">
                        {% csrf_token %}
                        <td>{{ event.id }}</td>
                        <td data-bs-toggle="modal" data-bs-target="#descripcion{{ event.id }}">{{ event.titulo }}</td>
                        <td>{{ event.lugar }}</td>
                        <td>{{ event.fecha_inicio }}</td>
                        <td>{{ event.fecha_fin }}</td>
                        <td>{{ event.presupuesto }}</td>
                        <td>
                            <input class="form-check-input" type="checkbox" name="estado_alimentacion" id="check_alimentacion_{{ event.id }}" {% if event.estado_alimentacion %} checked {% endif %}>
                            <label class="form-check-label" for="check_alimentacion_{{ event.id }}">

                                {{ event.alimentacion }}
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" name="estado_transporte" id="check_transporte_{{ event.id }}" {% if event.estado_transporte %} checked {% endif %}>

                            <label class="form-check-label" for="check_transporte_{{ event.id }}">
                                {{ event.transporte }}
                            </label>
                        </td>
                        <td>{{ event.profesor }}</td>
                        <td>
                            <input class="form-check-input" type="checkbox" name="estado_extras" id="check_extra_{{ event.id }}" {% if event.estado_extras %} checked {% endif %}>
                            <label class="form-check-label" for="check_extra_{{ event.id }}">
                                {{ event.extra }}
                            </label>
                        </td>
                        <td>
                            <input type="hidden" name="event_id" value="{{ event.id }}">
                            <button type="submit" class="btn btn-primary btn-sm mt-1">
                                Guardar
                            </button>
                        </td>
                        <td>
                            <div class="circle-container corner-circle"> <!-- Añadimos la clase "corner-circle" -->
                                <div class="circle" id="circle_{{ event.id }}"> <!-- Agregamos un identificador único al círculo -->
                                    <svg class="progress-ring" width="100" height="100"> <!-- Cambiamos el tamaño del SVG -->
                                        <circle
                                                class="progress-ring-circle-2"
                                                stroke-width="7"
                                        fill="transparent"
                                        r="35"
                                        cx="50"
                                        cy="50"
                                        />
                                        <circle
                                                class="progress-ring-circle"
                                                stroke="#007bff"
                                                stroke-width="7"
                                                fill="transparent"
                                                r="35"
                                                cx="50"
                                                cy="50"
                                        />
                                    </svg>
                                    <div class="progress-text" id="progressText_{{ event.id }}"></div> <!-- Agregamos un identificador único al texto del progreso -->
                                </div>
                            </div>

                            <script type="application/javascript">
                                cargarBarra("{{event.id}}", "{{event.estado_alimentacion}}", "{{event.estado_transporte}}", "{{event.estado_extras}}",)
                            </script>
                        </td>
                    </form>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

    {% for evento in eventos %}
    <div class="modal fade" id="descripcion{{ evento.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Descripción de la solicitud</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{evento.descripcion}}
                </div>
            </div>
        </div>
    </div>   
    {% endfor %}

    {% endblock %}


</body>

</html>