{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">

    <title>Eventos Finalizados</title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap-5.3.3-dist/css/bootstrap.css' %}">
</head>

<body>
    {% include 'layouts/sidebar1.html' %}
    {% block content %}
    <div class="main container mt-5" style="margin-left: 75px; background-color: #93b8f0; border-radius: 10px; padding: 20px;">
        <h1 class="text-center">Historial de Eventos Finalizados</h1>
        <form method="GET">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Buscar por ID, Título o Presupuesto">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                    <select name="filter_by" class="form-control">
                    <option value="id">ID</option>
                    <option value="titulo">Título</option>
                    <option value="presupuesto">Presupuesto</option>
                </select>
              </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Usuario</th>
                    <th>Lugar</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Fin</th>
                    <th>Presupuesto</th>
                    <th>Alimentación</th>
                    <th>Transporte</th>
                    <th>Profesor</th>
                    <th>Extras</th>
                    <th>Estado del evento</th>
                </tr>
                </thead>
                <tbody>
                {% for evento in eventos %}
                <tr>
                    <td>{{ evento.id }}</td>
                    <td data-bs-toggle="modal" data-bs-target="#descripcion{{ evento.id }}">{{ evento.titulo }}</td>
                    <td>{{ evento.usuario }}</td>
                    <td>{{ evento.lugar }}</td>
                    <td>{{ evento.fecha_inicio }}</td>
                    <td>{{ evento.fecha_fin }}</td>
                    <td>{{ evento.presupuesto }}</td>
                    <td><input class="form-check-input" type="checkbox" name="estado_alimentacion" {% if evento.estado_alimentacion %} checked {% endif %} disabled>
                        {{ evento.alimentacion }}</td>
                    <td><input class="form-check-input" type="checkbox" name="estado_alimentacion" {% if evento.estado_transporte %} checked {% endif %} disabled>
                        {{ evento.transporte }}</td>
                    <td>{{ evento.profesor }}</td>
                    <td><input class="form-check-input" type="checkbox" name="estado_alimentacion" {% if evento.estado_extras %} checked {% endif %} disabled>
                        {{ evento.extra }}</td>
                    <td>{{ evento.estado_solicitud }}</td>
                    <script>
                        console.log("{{evento}}")
                    </script>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% for evento in eventos %}
    <div class="modal fade" id="descripcion{{ evento.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Descripción de la solicitud</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{evento.descripcion}}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% endblock %}
</body>

</html>
