{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freya</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/perfil_3.css' %}">

<body>
    {% include 'layouts/sidebar3.html' %}
    {% block content %}
    <div class="main">
        <h1>Bienvenido {% if first_name %}{{ first_name }}{% else %}Invitado{% endif %}</h1>
        <div class="profile-info">
            <img src="{% static 'img/user-icon-3.jpg' %}" width="25%" alt="Profile Picture">
            <p>Nombre: {{ user.get_full_name }}</p>
            <p>ID: {{ user.username }}</p>
            <p>Rol: {{"Miembro académico"}}</p>
        </div>
    </div>
    {% endblock %}
</body>

</html>