{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sesión</title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap-5.3.3-dist/css/bootstrap.css' %}">
    <script src="{% static 'lib/bootstrap-5.3.3-dist/js/jquery.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-5.3.3-dist/js/bootstrap.min.js'%}"></script>
    <style>
        body {
            background: #da6a72;
            background: linear-gradient(to right, #F0F4FC, #b55eac);
        }

        .bg {
            background-image: url("{%static 'img/academic.jpg'%}");
            background-position: center center;
            background-size: 775px;
        }
    </style>
</head>

<body>
    <div class="container w-75 bg-primary mt-5 rounded shadow">
        <div class="row align-items-stretch">
            <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded"></div>
            <div class="col bg-white p-5 rounded-end">
                <div class="text-end">
                    <img src="{%static 'img/FreyaLogo.png' %}" width="25%" alt="">
                </div>

                <h2 class="fw-bold text-center pt-5">Bienvenido!</h2>

                <!-- LOGIN -->
                {{error}}
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="mb-4">
                        {{ form.username.errors }}
                        <label for="{{ form.username.id_for_label }}" class="form-label">Nombre de usuario:</label>
                        <input type="{{ form.username.id_for_input }}" class="form-control" name="username">
                    </div>
                    <div class="mb-4">
                        {{ form.password.errors }}
                        <label for="{{ form.password.id_for_label }}">Contraseña:</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">
                            Iniciar Sesión
                        </button>
                    </div>
                    <div class="my-3 text-center">
                        <span><a href="#">¿Ha olvidado su nombre de usuario o contraseña?</a></span>
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>

</html>